$white-1: rgba(255, 255, 255);
$black-1: rgb(0, 0, 0);

$blue: rgb(84, 84, 211);

$red: rgb(211, 84, 84);

$dark-green: #181b14;
$dark-brown: #1b1714;

$green: #73826f;
$brown: #b99a90;
$cream: #f4eee3;
